/* .header{
    background-image: url(../assets/img/background.jpg);
    background-size: 1400px;
    
}
.container{
    background-Color: rgba(0,0,0,.5);
    min-height: 1400px;
}
.text{
    background-Color: rgba(0,0,0,.5);

}
.img1{
    position:absolute;
    width: 250px;
} */
